body {
    margin: auto;
    size: 100;
    background-color: rgb(23, 238, 191);
    text-align: center;
}   




#top{

   
    color: rgb(255, 255, 255);
    

}

#btn{

    color: rgb(0, 0, 0);
    size: 20px;
    text-align: left;
}


#f1{

    
    size: 10px;
    color: (255,255,255);
    margin: 10%;
    background-color:rgb(23, 238, 191);
    background-size: contain;
    text-align: initial;
}

#f2{

    
    size: 10px;
    color: (255,255,255);
    margin: 10%;
    background-color:rgb(23, 238, 191);
    background-size: contain;
    background-origin: border-box;
    
}

#mo{
    size: 10px;
    color: (255,255,255);
    margin: 10%;
    background-color:rgb(23, 238, 191);
    background-size: contain;
    text-align: initial;
}

#f3{
    margin: 0px;
    text-align: left;
    size: 0px;
    color:rgb(0, 0, 0);
   
    
    background-color:rgb(255, 255, 255);
    background-size: contain;
    
}

#f5{

    
    size: 10px;
    color: (255,255,255);
    text-align: left;
    
    background-color:rgb(23, 238, 191);
    background-size: contain;
    background-origin: border-box;
    
}

#op{

   color: rgb(255, 255, 255);
   background-color: rgb(8, 240, 189);
}